* {
  box-sizing: border-box;
}

main {
  padding: 24px;
}

.circle-car {
  color: #e28625;
  background-color: rgb(0, 0, 0);
  padding: 12px 32px;
  border-radius: 25px;
  position: absolute;
  bottom: 48px;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: white;
}

p {
  font-weight: 400;
  color: white;
}

.button {
  color: #e28625;
  background-color: white;
  padding: 12px 32px;
  border-radius: 25px;
  position: absolute;
  bottom: 48px;
}

.button-1 {
  color: #e28625;
}

.button-2 {
  color: #006971;
}

.button-3 {
  color: #004140;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  height: 48px;
}

.card {
  height: 442px;
  padding: 48px;
  position: relative;
}

.card-1 {
  background-color: #e28625;
  border-radius: 8px 8px 0px 0px;
}

.card-2 {
  background-color: #006971;
}

.card-3 {
  background-color: #004140;
  border-radius: 0px 0px 8px 8px;
}
