* {
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  height: 48px;
}

main {
  padding: 24px;
  font-size: 0;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: white;
}

p {
  font-weight: 400;
  color: white;
}

.card {
  display: inline-block;
  height: 442px;
  width: 327px;
  padding: 48px;
  font-size: 1rem;
  position: relative;
}

.card-1 {
  background-color: #e28625;
  border-radius: 8px 8px 0px 0px;
}

.card-2 {
  background-color: #006971;
}

.card-3 {
  background-color: #004140;
  border-radius: 0px 0px 8px 8px;
}

@media screen and (width>= 720px) {
  .card {
    height: 500px;
  }
  .card-1 {
    background-color: #e28625;
    border-radius: 0px 0px 0px 0px;
  }

  .card-2 {
    background-color: #006971;
  }

  .card-3 {
    background-color: #004140;
    border-radius: 0px 0px 0px 0px;
  }
}

.button {
  color: #e28625;
  background-color: white;
  padding: 12px 32px;
  border-radius: 25px;
  position: absolute;
  bottom: 48px;
}

.button-1 {
  color: #e28625;
}

.button-2 {
  color: #006971;
}

.button-3 {
  color: #004140;
}

.image-container {
  background-color: rgb(0, 0, 0);
  opacity: 50%;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.car {
  position: absolute;
  left: 20px;
  bottom: 10px;
}
